<link rel="stylesheet" href="style13.css">
<div class="center">
  <h1>Edit Profile</h1>
  <form method="post" action="/editform">
    <div class="inputbox">
       <input type="text" placeholder="" name="uname" autocomplete="off" value="{{uname}}">
      <span>Name</span>
    </div>
    <div class="inputbox">
       <input type="password" placeholder="" name="pass" autocomplete="off" value="{{pass}}"></input>
      <span>Password</span>
    </div>
    <div>
      

      
      

      <input type="file" name="picture" autocomplete="off" value="{{picture}}"></input>
  <span>Change Photo</span></br></br>

       <div class="inputbox">
      <button type="submit">submit</button>
    </div>
  </form>
</div>