 
	 <link rel="stylesheet" href="style12.css">
	<title>বইয়ের দোকান</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/images/favicon.ico" />
	
	<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/functions.js"></script>


	<!-- Header -->
	<div id="header" class="shell">
		<div id="logo"><h1 style="color: brown;">বইয়ের দোকান</h1></div>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="/post">Add books</a></li>
				<li><a href="/register">Sign Up</a></li>
				<li><a href="/profile">Edit Profile</a></li>
				<li><a href="/adminlogin">Admin</a></li>
				<li><a href="/login">Log out</a></li>
	
			</ul>
		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
	
			{{#each users}} 
           <a href="/profile/{{this.id}}" class="list-group-item list-group-item-action">{{this.uname}}</a>
          
        
           {{/each}}   
				
          
    
		
		<!-- End Login-details -->
	</div>
	<!-- End Header -->
	<!-- Slider -->
	<div id="slider">
		<div class="shell">
			<ul>
				<li style="text-align: center;">
					<div class="image">
						<img src="css/images/books.png" alt="" />
					</div>
					<div class="details">
						<h2 style="color: brown;">বইয়ের দোকান</h2>
						<h3>Special Offers</h3>
						<p class="title" style="color: red;">প্রথম অর্ডারে ৩০% এবং ২য় অর্ডারে ১০% ডিসকাউন্ট</p>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id odio in tortor scelerisque dictum. Phasellus varius sem sit amet metus volutpat vel vehicula nunc lacinia.</p>
						
					</div>
				</li>
				
					
				</li>
			</ul>
			
		</div>
	</div>
	<!-- End Slider -->
	<!-- Main -->
	<div id="main" class="shell">
			
		<!-- Sidebar -->
		<div id="sidebar">
			<ul class="categories">
				<li>
					<h4>Categories</h4>
					<ul>
						<li><a href="#">রহস্যমূলক গল্প</a></li>
						<li><a href="#">ছোট গল্প</a></li>
						<li><a href="#">উপন্যাস</a></li>
						<li><a href="#">গোয়েন্দা গল্প</a></li>
						<li><a href="#">সায়েন্স ফিকশন</a></li>
						<li><a href="#">ধর্মীয় বই</a></li>
						<li><a href="#">সাহিত্য ও ভূগোল</a></li>
					</ul>
				</li>
				<li>
					<h4>Authors</h4>
					<ul>
						<li><a href="#">রবীন্দ্রনাথ ঠাকুর</a></li>
						<li><a href="#">কাজী নজরুল ইসলাম</a></li>
						<li><a href="#">উইলাম সেক্সপিয়ার</a></li>
						<li><a href="#">মার্টিন লুথার কিং</a></li>
						<li><a href="#">জন মিল্টন</a></li>
						<li><a href="#">হুমায়ুন আহমেদ</a></li>
						<li><a href="#">প্রান্ত রায়</a></li>
					
					</ul>
				</li>
			</ul>
		</div>
		<!-- End Sidebar -->
		<!-- Content -->
		<div id="content">
			
			<!-- Products -->
			<div class="products">
				<h3>Featured Products</h3>
				<ul>
					
				   {{#each status}}
                  <b>{{this.uname}}</b>
                  
                  <p>{{this.details}}</p></br>
                  
                {{/each}}
				</ul>
			<!-- End Products -->
			</div>
			<div class="cl">&nbsp;</div>
			<!-- Best-sellers -->
			
			<!-- End Best-sellers -->
		</div>
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div>
	<!-- End Main -->
	<!-- Footer -->
	<div id="footer" class="shell">
		<div class="top">
			<div class="cnt">
				<div class="col about">
					<h4>About BestSellers</h4>
					<p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />Curabitur gravida pretium tincidunt.  </p>
				</div>
				<div class="col store">
					<h4>Store</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Special Offers</a></li>
						<li><a href="#">Log In</a></li>
						<li><a href="#">Account</a></li>
						<li><a href="#">Basket</a></li>
						<li><a href="#">Checkout</a></li>
					</ul>
				</div>
				<div class="col" id="newsletter">
					<h4>Newsletter</h4>
					<p>Lorem ipsum dolor sit amet  consectetur. </p>
					<form action="" method="post">
						<input type="text" class="field" value="Your Name" title="Your Name" />
						<input type="text" class="field" value="Email" title="Email" />
						<div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
					</form>
				</div>
				<div class="cl">&nbsp;</div>
				<div class="copy">
					<p>&copy; <a href="#">BestSeller.com</a>. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>