
<link rel="stylesheet" href="style13.css">
<div class="center">
  <h1>Post Books</h1>
  <form method="post" action="/submitpost">
    <div class="inputbox">
       <input type="text" placeholder="" name="uname"/>
      <span>Author Name</span>
    </div>
    <div class="inputbox">
       <input type="textbox" placeholder="" name="udetails"/>
      <span>Details</span>
    </div>
    <div>
      

      
      
<span>Upload Book</span>
      <input type="file" name="uphoto"></input>
  </br></br>

       <div class="inputbox">
      <button type="submit">submit</button>
    </div>
  </form>
</div>





     